{% extends 'base.html' %} {% block head %}
<title>User Management</title>
{% endblock %} {% block body %}
<div class="wrap">
  <header>
    <h1>User Management</h1>
  </header>

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>

    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td class="action">
        <a class="delete" href="/delete/{{ user.id }}">Delete</a>
        <br />
        <a class="update" href="/update/{{ user.id }}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <form actions="/" method="post">
    <label>Enter User's Name</label>
    <input type="text" name="user" id="user" />
    <input type="submit" value="Add User" />
  </form>
</div>
{% endblock %}
